body{
  background-image: url(http://oboi-dlja-stola.ru/file/1753/760x0/16:9/%D0%A4%D0%BE%D0%BD-%D0%B8%D0%B7-%D0%BA%D1%83%D0%B1%D0%B8%D0%BA%D0%BE%D0%B2.jpg)
}

.btn {
  position: absolute;
  padding: 20px 30px;
  border-radius: 5px;
  border: none;
  top: 30px;
  left: 50%;
  color: #fff;
  background-color: blue;
  outline: none;
  text-transform: capitalize;
  font-size: 30px;
  transition: 0.3s ease all;
  /*transform: translate(-50%);*/
}
.win {
  background-color: green;
}
.faill {
  background-color: red;
}
.danger {
  background-color: brown;
}
.atention {
  background-color: yellowgreen;
}
.list__item {
  transition: 1s;
}
.change {
  color: red;
  font-size: 50px;
  font-weight: 700;
}
.hide {
  display: none;
}