*{
  margin: 0;
  padding: 0;
  list-style: none;
}

.preview{
  display: flex;
  overflow: auto;
  justify-content: space-between;
}
.li{
object-fit: cover;
width: 17%
}
img{
  /* width: 100%; */
  border: 1px solid dimgray;
  display: block;
}
.immg{
  width: 99.8%;
  display: block;
  margin: auto;
}
.hover {
 border: 3px solid crimson;
}