.button{
  display: block;
  padding: 20px 16px;
  background-color: yellowgreen;
  color: #fff;
  font-size: 12px;
  transition: 0.5s;
}

.button:hover{
  color: aqua;
  font-size: 15px;
  background: black;
}

.text {
  font-size: 20px;
}